@import "tailwindcss";
@import "@nuxt/ui";
@import "@bprogress/core/css";

@theme {
  --font-sans: 'Maple Mono CN','Public Sans', sans-serif;
}

:root {
  font-family: var(--font-sans) !important;
  --bprogress-color: var(--color-primary);
}